*{
    margin: 0;
    padding: 0;
}
#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #F5F5F5;
}

#version2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #FFE79E;
    width: 470px;
    height: 470px;
    padding: 15px;
    margin: 150px 0px 0px 280px;
}

#version2 > div {
    background-color: #FFFFFF;
    text-align: center;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 70px;
    width: 370px;
    height: 370px;
    padding: 220px 0px 220px 100px;
}

#rectangle {
    background-color: #FFFFFF;
    border: 0px;
}

button {
    font-family: Helvetica;
    font-weight: 750;
    width: 90px;
    height: 90px;
    background-color: #FFFFFF;
    margin: 30px;
}

#X {
    color:#2C8DFF;
    font-size: 86px;
    border: 0;
}

#O {
    color:#FF4F4F;
    font-size: 86px;
    border: 0;
}

#five1 {
    font-size: 65px;
    color: #2C8DFF;
    border-color: #2C8DFF;
    border-radius: 50%;
    border-width: 10px;
}

#five2 {
    font-size: 65px;
    color:#FF4F4F;
    border-color: #FF4F4F;
    border-radius: 50%;
    border-width: 10px;
}

